$font-size-base: 1rem !default;
$font-weight-base: 400;
$primary: #AA0601;
$secondary: #650300;
$light-pink: #FBF2F2;
$white: #fff;
$black: #000;
$gray: #707070;
$light-gray:#DEE2E6;
$pad: 992px;
$mobile: 767px;