<footer class="footer">
    <div class="container pt-8 pb-6 d-flex flex-direction-column">
        <div class="d-flex justify-content-between align-items-center mb-5 footer-top">
            <ul class="d-flex footer-menu justify-content-between">
                <li><a href="./index.html" class="link-hover">首頁</a></li>
                <li><a href="./product.html" class="link-hover">系列鏡框</a></li>
                <li><a href="./shop.html" class="link-hover">門市據點</a></li>
                <li><a href="./blog.html" class="link-hover">部落格</a></li>
                <li><a href="./faq.html" class="link-hover">常見問題</a></li>
            </ul>
            <ul class="d-flex footer-social-media justify-content-end">
                <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt="facebook icon"></a></li>
                <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt="instagram icon"></a></li>
                <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line icon"></a></li>
            </ul>
        </div>
        <div class="d-flex flex-direction-column footer-contact">
            <a href="tel: 0800-000-000" class="fz-6 d-flex align-items-center">
                <span class="material-icons-outlined fz-8 mr-4">
                    phone
                </span>
                0800-000-000
            </a>
            <a href="mailto:glasses@business.com" class="fz-6 d-flex align-items-center">
                <span class="material-icons-outlined fz-8 mr-4">
                    email
                </span>
                glasses@business.com
            </a>
        </div>
    </div>
    <div class="container">
        <span class="line"></span>
    </div>
    <div class="container d-flex justify-content-between py-6 align-items-center">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="d-flex">
            <li class="fz-0"><a href="#" class="link-hover">隱私權政策</a></li>
            <li class="ml-8 fz-0"><a href="#" class="link-hover">服務條款</a></li>
        </ul>
    </div>
</footer>