<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap"
    rel="stylesheet">
  <!-- google icon -->
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
    rel="stylesheet">
  <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
  <title>GLASSES | BLOG | 情人特別企劃</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="submenu blog-info-submenu">
      <nav class="container d-flex justify-content-between align-items-center">
        <ul class="d-flex">
          <li class="mr-8 fz-3 fw-3"><a href="">最新消息</a></li>
          <li class="mr-8 fz-3 fw-3"><a href="">特別企劃</a></li>
          <li class="mr-8 fz-3 fw-3"><a href="">新品上市</a></li>
          <li class="mr-8 fz-3 fw-3"><a href="">鏡框小知識</a></li>
        </ul>
        <a href="" class="search-btn">
          <span class="material-icons-outlined">
              search
          </span>
      </a>
      </nav>
    </div>

    <div class="container">
      <nav class="breadcrumb mt-5 mb-2">
        <ol class="d-flex">
          <li class="breadcrumb-item"><a href="#">首頁</a></li>
          <li class="breadcrumb-item"><a href="#">部落格</a></li>
          <li class="breadcrumb-item"><a href="#">特別企劃</a></li>
          <li class="breadcrumb-item breadcrumb-page">情人特別企劃</li>
        </ol>
      </nav>
    </div>

    <div class="container d-flex">
      <a href="" class="hashtag mr-4">#special</a><a href="" class="hashtag">#event</a>
    </div>

    <div class="container d-flex justify-content-between blog-info">
      <div class="blog-info-area pb-10">
        <h2 class="fz-8 mt-2">情人特別企劃</h2>
        <h3 class="fz-4 mb-4 fw-2">2020 Valentine’s Special</h3>
        <div class="blog-info-area-content">
          <img src="../assets/images/blogpage-1.png" alt="情人特別企劃圖片">
          <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br>本次拍攝的鏡框款式與 NEEDS CLASSIC
            聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
        </div>
        <div class="blog-info-area-content">
          <img src="../assets/images/blogpage-2.png" alt="情人特別企劃圖片">
          <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br>本次拍攝的鏡框款式與 NEEDS CLASSIC
            聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
        </div>
        <div class="blog-info-area-content">
          <img src="../assets/images/blogpage-3.png" alt="情人特別企劃圖片">
          <p>一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br>
            本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
        </div>
        <div class="blog-info-area-content">
          <img src="../assets/images/blogpage-4.png" alt="情人特別企劃圖片">
          <p>2/14(五)-2/20(日)<br>
            至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br>
            期間優惠還有~~持他牌鏡框更換鏡片 薄型非球面鏡片折300元<br>
            濾藍光鏡片折500元<br>
            快快帶上另一半<br>
            讓彼此每一次睜開眼，都被愛的視線包圍!</p>
        </div>

        <div class="blog-info-area-bottom">
          <div class="blog-info-area-bottom-share d-flex align-items-center">
            <p class="fw-3">Share</p>
            <a href=""><img src="../assets/images/logo-facebook.svg" alt="share facebook"></a>
            <a href=""><img src="../assets/images/logo-instagram.svg" alt="share instagram"></a>
          </div>
          <span class="seperation-line"></span>
          <div class="blog-info-area-bottom-switch">
            <ul class="d-flex justify-content-between align-items-center">
              <li class="d-flex align-items-center">
                <a href="#" class="d-flex">
                  <span class="material-icons-outlined">
                    arrow_back
                  </span>
                  <p class="ml-2">上一篇：街頭潮人訪問 1</p>
                </a>
              </li>
              <li class="d-flex align-items-center">
                <a href="#" class="d-flex flex-direction-row-reverse">
                  <span class="material-icons-outlined">
                    arrow_forward
                  </span>
                  <p class="mr-2">下一篇：街頭潮人訪問 2</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="blog-info-tags">
        <p class="d-flex align-items-center">
          <span class="material-icons-outlined">
            label
          </span>TAGS
        </p>
        <div class="blog-info-tags-hashtag d-flex flex-wrap">
          <a href="#" class="hashtag">#special</a>
          <a href="#" class="hashtag">#sale</a>
          <a href="#" class="hashtag">#new_item</a>
          <a href="#" class="hashtag">#interview</a>
          <a href="#" class="hashtag">#trivia</a>
          <a href="#" class="hashtag">#news</a>
          <a href="#" class="hashtag">#event</a>
        </div>

      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>